<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Laptops et composants pour pc</title>
        <link
            href="Style/lestyle.css" 
            rel="stylesheet"
        >
    </head>   
    <body class="body">
    <div class="entete">

        <div id="nom-site">
            <div id="image-nom">
                <img id="logo-site" src="images/Shop-electro-removebg-preview.png">
            </div>
            <h1>Achetez vos composants pour pc chez nous</h1>
            <div id="submit">
                <a id="submit-link" href="#" >Inscrivez vous</a>
            </div>
        </div>
        <div id="menu-search">
            
            <div class="contenu-menu">
                <div id="image-menu">
                    <img id="icone-menu" src="images/icons8-menu-arrondi-48.png">
                </div>
                <nav class="menu">
                    <ul id="liste-menu">
                        <li class="element-menu">
                            <img class="menu-img" src="images/information.png" alt="aide">
                            <a class="contenue-element-menu" href="#" >Aide</a>
                        </li>
                        <li class="element-menu">
                            <img class="menu-img" src="images/shopping-cart.png" alt="panier">
                            <a class="contenue-element-menu" href="#" >Panier</a>
                        </li>
                        <li class="element-menu">
                            <img class="menu-img" src="images/heart.png" alt="favoris">
                            <a class="contenue-element-menu" href="#" >Favoris</a>
                        </li>
                        <li class="element-menu">
                            <img class="menu-img" src="images/black-male-user-symbol.png" alt="connection">
                            <a class="contenue-element-menu" href="#" >Connexion</a>
                        </li>
                    </ul>
                </nav>
                
                <div id="search-bar">
                    <input id="search-field"type="search" placeholder="Rechercher un produit...">
                    <div id="search-img">
                        <img id= "search-bar-img" src="images/brows_browsing_find_search_seo_web_zoom_icon_123196.png">
                    </div>    
                </div>

            </div> 
        </div>        
            
    </div>
    <div class="container">
            <div class="marques">
                <aside>
                    <h3><a class="marque" href="#">HP</a></h3>
                    <h3><a class="marque" href="#">ACER</a></h3>
                    <h3><a class="marque" href="#">DELL</a></h3>
                    <h3><a class="marque" href="#">LENOVO</a></h3>
                </aside>
            </div>
            <div class="articles">
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/56K70PA-1_T1657693779.jpg">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
                <div class="article-card">
                    <div class="article-img">
                        <img class="article-image" src="images/Laptop/hp/hp ddev one.png">
                    </div>
                    <div class="article-name">
                        <h2>Hp envy 360p</h2>                   
                    </div>
                    <div class="article-description">
                        <p>Hp envy 2019 core i5 3,5Ghz 16gb Ram gtx 1080 6gb</p>
                        <p>540e</p>
                    </div>
                </div>
            </div>
    </div>    
   
    <footer>
        <div id="pied-de-page">
            <p>Copyright 2023 Logabo Luc Etudiant en Informatique</p>
        </div>
    </footer>
    <script src="test.js"></script>
    </body>
</html>